<section class="about-section">
    <div class="stats">
        <div class="hexagon light">
            <div class="hex_content">
                <h2>4K</h2>
                <p>CASE SUCCESS</p>
            </div>

        </div>
        <div class="hexagon orange">
            <div class="hex_content">
                <h2>3K</h2>
                <p>HAPPY CLIENT</p>
            </div>
        </div>
        <div class="hexagon light">
            <div class="hex_content">
                <h2>1K</h2>
                <p>WINNING AWARD</p>
            </div>
        </div>
    </div>

    <div class="about-content">
        <p class="section-tag">* ABOUT ME</p>
        <h1 class="title">ABOUT SOFTWARE DEVELOPER</h1>
        <span class="marketer">&amp; WEB DEVELOPER </span>

        <p class="description">
            At PICO, we understand that success is just about delivering a product – it's about building relationships
            and making a meaningful impact of client.
        </p>

        <div class="services">
            <ul>
                <li>✔ SOCIAL MARKETING</li>
                <li>✔ SEO CONSULTANCY</li>
            </ul>
            <ul>
                <li>✔ MARKET ANALYSIS</li>
                <li>✔ PAGE RANKING</li>
            </ul>
        </div>

        <button class="cta-button">GET IN TOUCH NOW</button>
    </div>
</section>