<div class="page_container main-content" >
    <div class="home-content">
        <p>WELCOME TO MY WORLD</p>
        <div class="heading-content">
            <h1>Hi, I'm 
                <span class="text_gradeint">Mohit Pal </span> 
                a <br>
                 <span class="type_text">
                    
                    <label [ngClass]="className"> {{bannerTxt}}. </label>
                </span>
            </h1>
            <p class="para-content">
                I began my journey as a web developer with a strong curiosity for how websites work under the hood. Over
                the past <strong>7 years</strong>, I’ve dedicated most of my time to designing, developing, and
                optimizing software and web applications that are fast, scalable, and user-friendly.
            </p>
        </div>
        <div class="skills-icons">
            <div class="skill-content">
                <button class="cta-button"><i class="fa fa-download"></i> Download CV</button>
                <div class="btn-area">
                    <a href="#" class="play-btn1 popup-youtube">
                        <i class="fa fa-play"></i>
                        <span>Play Video</span>
                    </a>
                </div>
            </div>
            <div class="skillon-content">
            </div>
        </div>
    </div>
    <div class="homeimg-content">
        <div class="text">
            <img src="../../../assets/imagess/mohit.png" alt="">
        </div>
    </div>
</div>

<button id="start" (click)="startInterval()">start</button>