<div class="page_container">
  <div class="resume page_content" >
   <h2>My Resume</h2>
   <div class="resume-section">
   
      <div class="resume-column">
        <h3>Education.</h3>
    
        <div class="resume-item">
          <div class="dot"></div>
          <h3>MASTER IN DESIGN</h3>
          <p class="institution">Cambridge University / 2010 – 2014</p>
          <p class="description">Eu nulla at mauris cursus consectetur posuere iaculis ipsum neque. Morbi felis pellentesque ligula sed dictumst imperdiet nunc vulputate.</p>
        </div>
    
        <div class="resume-item">
          <div class="dot"></div>
          <h3>BACHELOR IN SCIENCE</h3>
          <p class="institution">Cambridge University / 2014 – 2016</p>
          <p class="description">Porttitor euismod at semper ut massa. Lorem varius magna volutpat nunc. Et faucibus scelerisque donec augue eleifend morbi.</p>
        </div>
    
        <div class="resume-item">
          <div class="dot"></div>
          <h3>DIPLOMA IN COMPUTER</h3>
          <p class="institution">Cambridge University / 2016 – 2018</p>
          <p class="description">Adipiscing sed magna tempus arcu morbi. Ipsum pellentesque lorem suscipit in. Hendrerit rhoncus quis tempor urna pharetra ut erat.</p>
        </div>
      </div>
    
      <div class="resume-column">
        <h3>Experience.</h3>
    
        <div class="resume-item">
          <div class="dot"></div>
          <h3>LEAD DESIGN & DEVELOPMENT</h3>
          <p class="institution">Envato / 2020 – Current</p>
          <p class="description">Ipsum erat duis leo lectus tellus neque dictumst. Dignissim tortor quis nisl mi lectus. Massa facilisis ac eget fermentum vitae. Dictum rutrum sed.</p>
        </div>
    
        <div class="resume-item">
          <div class="dot"></div>
          <h3>SENIOR DESIGN & DEVELOPEMNT</h3>
          <p class="institution">Apple / 2019 – 2020</p>
          <p class="description">Congue dolor gravida eu tristique netus posuere dolor. Penatibus imperdiet egestas ut sit scelerisque sapien a lor sjsa.</p>
        </div>
    
        <div class="resume-item">
          <div class="dot"></div>
          <h3>JUNIOR DESIGN & DEVELOPMENT</h3>
          <p class="institution">Twitter / 2018 – 2019</p>
          <p class="description">Aliquet at interdum pellentesque non fringilla eget orci suspendisse. A iaculis augue vitae ultricies fusce sit dolor gravida.</p>
        </div>
      </div>
    </div>
  </div>

</div>


  